apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: {{.AppConfig.Name}}
spec:
  provider: gcp
  parameters:
    secrets: |
    {{- range .Secrets}}
      - resourceName: "projects/{{$.GCPProjectId}}/secrets/{{.}}/versions/latest"
        path: "{{.}}"
    {{- end}}
