apiVersion: v1
kind: Service
metadata:
  annotations:
    cloud.google.com/app-protocols: '{"{{.AppConfig.Name}}-{{.AppConfig.Protocol | tolower}}":"{{.AppConfig.Protocol}}"}'
    cloud.google.com/backend-config: '{"ports": {"{{.AppConfig.Name}}-{{.AppConfig.Protocol | tolower}}":"{{.AppConfig.Name}}-backendconfig"}}'
    cloud.google.com/neg: '{"ingress": true}'
  name: {{.AppConfig.Name}}-service
spec:
  type: ClusterIP
  selector:
    app: {{.AppConfig.Name}}
  ports:
  - name: {{.AppConfig.Name}}-{{.AppConfig.Protocol | tolower}}
    port: {{.AppConfig.Port}}
    protocol: TCP
    targetPort: {{.AppConfig.Port}}
