[Unit]
Description=app-control-api
After=network.target

[Service]
ExecStart=/usr/local/bin/app-control-api
Restart=on-failure
User=daemon

[Install]
WantedBy=multi-user.target
