[Unit]
Description=app-controld
After=network.target

[Service]
ExecStart=/usr/local/bin/app-controld
Restart=on-failure
User=daemon

[Install]
WantedBy=multi-user.target
